* {
  margin: 0;
  padding: 5px 0;
}
body {
  padding: 15px;
}
.content {
  background-color: lightblue;
  border: 2px solid rgb(59, 135, 233);
  border-radius: 10px;
  max-width: 35rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5rem;
  padding: 25px 0;
}
label.required::after {
  content: " *";
  color: red;
}
.full-width {
  width: 100%;
  border-radius: 10px;
  border: 0;
}
@media (max-width: 350px) {
  .link {
    font-size: 1rem;
  }
}
